<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title><span th:text="#{navtitle}"></span>Page</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/stagers/createevent}" method="post">
                <img class="mb-4" src="https://xmlgraphics.apache.org/images/asf_logo_url.png" alt="" width="52" height="52" />
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{createEvent}"></h1>
                <div style="color:#b81624" th:text="${errorMsg}"></div>
                <div th:if="${param.logout}" th:text="#{loggedout}"></div>

                <div>
                    <label for="eventId">Event Id: </label>
                    <input type="text" name="eventId" id="eventId"  class="form-control" placeholder="Event Id" required="" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="eventStatus">Event Status: </label>
                        <select class="form-control" name="status" id="status">
                            <option th:each="evtstatus : ${T(com.poc.stagers.models.EventStatus.EventStatusEnum).values()}"
                                    th:value="${evtstatus}" th:text="${evtstatus}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="opportunityAmount">Amount: </label>
                        <input type="number" name="amount" id="amount"  min="10000" step="any" class="form-control" placeholder="10000" required="" />
                    </div>
                </div>
                <div>
                    <label for="postingTitle" class="sr-only">Posting Title</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Posting Title" required="" />
                </div>
                <div>
                    <label for="description" class="sr-only">Description</label>
                    <textarea rows=5 column=25 name="description" id="description" class="form-control" placeholder="Description" required=""></textarea>
                </div> 
                <BR/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{publish}"></button>
            </form>
            <form class="form-signin" th:action="@{/stagers}" method="get">
                <button class="btn btn-secondary btn-block" type="Cancel" th:text="#{cancel}"></button>
            </form>
        </div>
    </body>
</html>