<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title th:text="#{navtitle} + ' Login'"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <form class="form-signin" method="post" th:action="@{/login}" th:object="${user}">
                <img class="mb-4" src="https://xmlgraphics.apache.org/images/asf_logo_url.png" alt="" width="52" height="52" />
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{loginpagemsg}"></h1>
                <!--<div th:if="${param.error}" style="color:#b81624" th:text="#{loginfailed}"></div>-->
                <div style="color:#b81624" th:text="${errorMsg}"></div>
                <div th:if="${param.logout}" th:text="#{loggedout}"></div>

                <div>
                    <label for="inputUsername" class="sr-only">User Name</label>
                    <input type="email" name="username" th:field="*{Username}" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" th:field="*{Password}" class="form-control" placeholder="Password" required="" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login}"></button>
            </form>
            <form class="form-signin" method="get" th:action="@{/signup}">
                <button class="btn btn-md btn-success btn-block" type="submit" th:text="#{register}"></button>
            </form>
        </div>
    </body>
</html>